.footer{
    background-color: rgba(0, 0, 0, 0.787);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-icon{
    color: #fff;
    margin-left: 20px;
}
.footer-icon:hover{
    color: rgba(0, 0, 0, 0.787);
    transition: all ease-in-out;
}

.footer-text{
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    white-space: nowrap;
    margin: 0.5em;
}
.footer-text a{
    color: rgb(58, 58, 255);
    text-decoration: none;
}
.footer-text a:hover{
    text-decoration: underline;
}
